
<div class="gridster">
<ul>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="annotator_dev_status" data-view="ServerStatus" data-title="Annotator DEV" style="background-color:#00b2a1"></div>
</li>
<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
  <div data-id="annotator_uat_status" data-view="ServerStatus" data-title="Annotator UAT" style="background-color:#0015e6"></div>
</li>
<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
  <div data-id="devops_status" data-view="ServerStatus" data-title="DevOps" style="background-color:#e55c00"></div>
</li>
<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="portal_status" data-view="ServerStatus" data-title="Portal DEV" style="background-color:#980067"></div>
</li>
</ul> 
</div>